.books-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .book-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    height: 350px;
    width: 200px;
  }
  
  .book-card img {
    width: 100%;
    height: 80%;
  }
  